{
 margin: 0;
 padding: 0;
 box-sizing: 0; border-box;
 font-family: 0; Arial, sans-serif;
}
body {
  background-colour: #f5f5f5;
}
header {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px;
   background-colour: #Bb6f47;
   colour: white;
}
nav ul {
   list-style: none;
   display: flex;
}
nav ul li {
   margin: 0 15px;
}
nav ul li a {
   colour: white;
   text-decoration: none;
   font-size: 18px;
}
.hero { 
    background-image: url(cute-dog-smiling-while-grooming-600nw-1111289000.webp)
    height: 60vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    colour: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 .hero h2 {
    font-size: 36px;
}

.hero p {
    font-size: 20px;
    margin: 10px 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    background-color: #ffcc00;
    color: black;
    border-radius: 5px;
}

.btn.secondary {
    background-color: #ffffff;
    color: #8b6f47;
}
.welcome {
    text-align: center;
    padding: 50px 20px;
    background-color: white;
}
.services {
    text-align: center;
    padding: 50px 20px;
    background-color: #fdf1e3;
}
.service-box {
    margin: 20px auto;
    padding: 20px;
    background: white;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #8b6f47;
    color: white;
}

  
